<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="transportlib" sequenceNumber="15">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="gnu.io.rxtx.feature.group" version="2.1.7.4_v20071016-7B57e7UAXMAAqGAGf"/>
<unit id="org.junit" version="4.11.0.v201303080030"/>
<unit id="a.jre.javase" version="1.6.0"/>
<repository location="http://it4energy.tagus.ist.utl.pt:8081/nexus/content/groups/p2Repos/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="codebase" version="1.0.0"/>
<repository location="http://it4energy.tagus.ist.utl.pt:8081/nexus/content/repositories/p2-releases/.meta/p2"/>
</location>
</locations>
</target>
